@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 10px;
    height: 100%;
    min-height: 100%;
    background: white;
    font: 13px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
    color: black;
}

.bg1, .green {  background-image: url("background-01.png");
  background-repeat: no-repeat; }
.bg2, .blue { background: #4986e7; }
.bg3, .red { background: #d06b64; }
.bg4, .purple { background: #cd74e6; }
.bg5, .azure { background: #9fe1e7; }

body {
    margin: 10px;
}

pre {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.clear { clear: both; }

div1 {

    -webkit-animation: spin 5s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(660deg);}
}

#handtrackjs{
  visibility: hidden;
}
